<div class="main-container">
  <div class="main-container__input-container">
    <form class="main-container__input-container__form">
      <mat-form-field class="mat-form-field">
        <mat-label>Input figure caption</mat-label>
        <input matInput
               [formControl]="figureCaptionControl"
               placeholder="ex: line -p [50, 50] [100, 100] -c rgba(255, 0, 0, .1)">
      </mat-form-field>
    </form>
  </div>

  <div class="main-container__buttons-container">
    <button mat-raised-button
            color="primary"
            (click)="_drawFigure()"
            [disabled]="figureCaptionControl.hasError('required')">Draw
    </button>
    <button mat-raised-button
            color="primary"
            (click)="_clearInputField()"
            [disabled]="figureCaptionControl.hasError('required')">Clear
    </button>
  </div>

  <div class="main-container__canvas-container">
    <app-canvas></app-canvas>
  </div>
  <button mat-raised-button
          class="main-container__clear-btn"
          color="primary"
          (click)="_clearCanvas()"
          [disabled]="clearCanvasBtnDisabled">Clear
  </button>
</div>
