.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &__clear-btn {
    margin-top: 8px;
  }

  &__input-container {
    margin-top: 4%;
    width: 40%;
  }

  &__canvas-container {
    width: 700px;
    height: 350px;
    margin-top: 3%;
    border: 1px solid #4150b7;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
  }
}

.mat-form-field {
  width: 100%;
}
