<div class="container">
  <div class="container__error-string">{{errorString}}.
  Please, try again.</div>
  <button mat-raised-button
          mat-dialog-close
          color="primary">Ok
  </button>
</div>
